<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserServelet</servlet-name>
        <servlet-class>com.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServelet</servlet-name>
        <servlet-class>com.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNotesServlet</servlet-name>
        <servlet-class>com.servlet.AddNotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoteEditServlet</servlet-name>
        <servlet-class>com.servlet.NoteEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServelet</servlet-name>
        <url-pattern>/UserServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServelet</servlet-name>
        <url-pattern>/loginServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNotesServlet</servlet-name>
        <url-pattern>/AddNotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoteEditServlet</servlet-name>
        <url-pattern>/NoteEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
